.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.stage_directions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: burlywood;
    color: black;
    
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    
}
.hover:hover{
    background-color: cyan;
    color: deeppink;
}
.lord{
    color: forestgreen;

}
.sirrobertchiltern{
    color: maroon;
  
}
.charName {
    font-size: 1rem;
    font-style: 🧑;
  }
  
.tableStyle{
    border-style: double;
    border-color: mediumvioletred;
    text-align: center;
    margin: 40px;
    padding: 10px;
}
.child{
  border: 1px solid magenta;
  padding:20px;

}
tr:nth-child(even) {
    background-color:lightsalmon;
  }
.nameHover:hover{
    text-shadow: 5px 5px violet;
    border-style: groove;
    border-color: wheat;
}

ul {
    list-style-type: disc;
    color: darksalmon;
  }
   
  ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.navbar-horizontal li {
    float: left;
    color: #000;
    background-color: AliceBlue;
    border: 2px solid black;
  }
  ul.navbar-horizontal a {
    display: block;
    padding: 8px;
  }
  ul.navbar-horizontal a:hover {
    background-color: #555;
    color: white;
  }
  .firstpage {
    background-color:mediumturquoise
  }
  .secondpage {
    background-color: lightpink;
  }
  .left {
    text-align: left;
  }
  .h5{
    margin-top: 0%;
    margin-bottom: 0%;
  }
  