.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.stage_directions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: burlywood;
    color: black;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
}
.hover:hover{
    background-color: cyan;
    color: deeppink;
}
.lord{
    color: forestgreen;

}
.sirrobertchiltern{
    color: maroon;
}